.side-nav {
  height: 100vh;
  width: 226px;
  /* background-color: #008080; */
  border-right: 1px solid #999;
  line-height: 37px;
  position: absolute;
  transition: all 0.1s ease-out;
}
.sticky-side-nav {
  position: fixed;
  z-index: 1000;
}

.side-nav-active {
  transform: translateX(-100%);
}
.site-logo {
  display: flex;
  justify-content: space-between;
}

.site-logo img {
  width: 60px;
  margin-left: 23px;
  margin-top: 1rem;
  border-radius: 28px 0px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.links {
  list-style: none;
  text-align: center;
}

.nav-links a {
  text-decoration: none;
  font-size: 16px;
  transition: all 0.4s;
  background-color: #fff;
  border: 1px solid #008080;
  color: #008080;
  padding: 4px 9px;
  cursor: pointer;
}

.nav-links a:hover {
  margin-left: 18px;
  background-color: #008080;
  color: #fff;
}

.nav-links {
  margin-top: 2rem;
  display: grid;
}

.nav-links i {
  margin-right: 10px;
}

.close-nav {
  display: none;
  margin-right: 10px;
  color: #fffbfb;
  cursor: pointer;
}

/* styling the top nav */

.main {
  margin-left: 226px;
}

.top-nav {
  background-color: #fff;
  height: 50px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 1px 1px;
  position: sticky;
  top: 0px;
  z-index: 1;
}
.right-link-container {
  display: flex;
  align-items: center;
}
.mobile-menu {
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
