@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600&family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400&display=swap");
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Bree+Serif);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background-color: #008080; */
}

.logo {
  font-family: "Lobster", cursive;
  color: #008080;
  text-decoration: underline;
  font-size: 45px;
  cursor: pointer;
  margin-bottom: 2rem;
  background-color: #fff;
}

.login-container {
  text-align: center;
  border: 1px solid #fff;
  width: max-content;
  margin: 12vh auto 0 auto;
  padding: 45px 11px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.login-form {
  display: grid;
  width: 50%;
  margin: auto;
}

form input {
  margin-bottom: 1rem;
  width: 100%;
  height: 29px;
  padding: 0 5px;
  border: none;
  font-style: normal;
  border-bottom: 1px solid #008080;
  font-size: 14px;
  letter-spacing: 1px;
}

form input:focus {
  outline: none;
}

::-webkit-input-placeholder { /* Edge */
    color: rgb(83, 83, 83);
}

::placeholder {
    color: rgb(83, 83, 83);
    font-size: 12px;
    font-style: italic;
    letter-spacing: 0;
}

form button {
  font-size: 23px;
  padding: 7px 81px;
  color: #fff;
  border: none;
  background-color: #008080;
  border-radius: 6px;
  transition: all .2s ease-in-out;
  border: 1px solid #008080;
  margin-top: .5rem;
}
form button:hover {
  background-color: #fff;
  color: #008080;
}

.login-container img {
  width: 90px;
  margin-bottom: 2rem;
}

.error {
  color: red;
  margin-top: 1rem;
}
