/* styling the footer */

footer {
    text-align: center;
    margin-top: 2rem;
    height: 120x;
    padding-top: 1rem;
    background-color: #fff;
}

.social-links {
    display: flex;
    justify-content: center;
}

.social-links p {
    margin: 7px;
    font-size: 27px;
}

.facebook {
    color: #4267B2;
}

.linkedin {
    color: #0e76a8;
}

.twitter {
    color: #1DA1F2;
}

.footer-links a {
    font-size: 14px;
    margin: 19px;
    text-decoration: none;
    color: #008080;
}

.footer-links a:hover {
    color: #053f3f;
}

.footer-links p {
    font-size: 13px;
    padding: 0 0 1rem 0;
}