.columns {
  float: left;
  width: 33.3%;
  padding: 8px;
}

.price {
  list-style-type: none;
  border: 1px solid #eee;
  margin: 0;
  padding: 11px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-color: #fff;
}

.price:hover {
  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2);
}

.price .header {
  background-color: #111;
  color: white;
  font-size: 25px;
  border-radius: 3px 3px 0px 0px;
}

.price li {
  border-bottom: 1px solid #eee;
  padding: 20px;
  text-align: center;
  margin: auto;
}

.price .grey {
  background-color: #eee;
  font-size: 20px;
}

.button {
  background-color: #008080;
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  border-radius: 3px;
}

.item3 {
  display: none;
}

.grid-container {
  grid-template-columns: 18% auto 0%;
}

@media only screen and (max-width: 730px) {
  .columns {
    width: 100%;
  }
  .item3 {
    display: block;
  }
}
