.posted-job {
  background-color: #fff;
  /* box-shadow: 0 4px 8px 0 rgba(170, 123, 123, 0.3); */
  box-shadow: #000 0px 0px 2px 0px;
  padding: 20px 16px;
  text-align: start;
  border-radius: 5px;
  margin-bottom: .4rem;
  transition: all .4s ease-in-out;
}
.posted-job:hover {
  box-shadow: 0 4px 8px 0 rgba(170, 123, 123, 0.83);
}
.heading {
  margin-bottom: 0.5rem;
}
.heading a {
  text-decoration: none;
  color: #008080;
  font-size: 16px;
}
.heading a:hover {
  color: #033636;
}
.location {
  margin-bottom: 6px;
  color: #686868;
  font-size: 13px;
}
.date {
  font-size: 12px;
  font-style: italic;
  margin-bottom: 3px;
  color: #333;
}
.loc-t {
  color: #000;
  font-weight: 550;
  margin-right: 3px;
}
.apply-now {
  margin-bottom: 5px;
}
.apply-now a {
  text-decoration: none;
  color: rgb(7, 7, 192);
}
.apply-now a:hover {
  color: rgb(7, 7, 104);
}
.apply-now i {
  font-size: 15px;
  margin-right: 4px;
}
.company-name {
  color: #008080;
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 3px;
  margin-bottom: 10px;
}
.company-details {
  color: #2f2f2f;
  font-size: 14px;
  line-height: 22px;
}
.company-section,
.job-details-section, .app-method {
  font-weight: 600;
  color: #535353;
  font-size: 19px;
  margin-top: 3rem;
  margin-bottom: 13px;
}
.tittle-qualification {
  font-weight: 500;
  font-size: 16px;
  color: #008080;
  width: max-content;
  border-radius: 3px;
  margin-top: 18px;
  margin-bottom: 13px;
}
.experience a,
.job_type a,
.qualification a,
.job_field a {
  text-decoration: none;
  color: #333;
  font-size: 14px;
}
.experience a {
  margin-left: 22px;
}
.job_type a {
  margin-left: 34px;
}
.qualification a {
  margin-left: 14.5px;
}
.job_field a {
  margin-left: 32px;
}
.experience a:hover,
.job_type a:hover,
.qualification a:hover,
.job-field a:hover {
  text-decoration: underline;
}
.experience,
.job_type,
.qualification,
.job-field {
  margin-bottom: 5px;
}
.names {
  font-size: 13px;
  color: #fff;
  background-color: #008080;
  padding: 1px 4px;
  border-radius: 2px;
}

.job-describtion {
  font-size: 14px;
  line-height: 28px;
}

.job-describtion p strong, .job-describtion strong {
  color: #008080;
  /* font-weight: 600; */
  font-size: 17px;
}

.job-describtion ul {
  padding: 0 20px;
  font-size: 14px;
  color: #2f2f2f;
}

.job-describtion p {
  font-size: 15px;
}
.company-details a {
  text-decoration: none;
  color: #008080;
  margin-left: 3px;
}
.company-details a:hover {
  color: rgb(129, 0, 0);
}

.application-method {
  font-size: 14px;
  color: #2f2f2f;
}

.application-method strong {
  color: #008080;
  font-size: 17px;
}
.application-method a {
  text-decoration: none;
  color: #008080;
}
.application-method a:hover {
  color: rgb(129, 0, 0);
}

.application-method ul {
  padding: 0 20px;
  font-size: 14px;
  color: #2f2f2f;
}
.application-method {
  line-height: 37px;
}

@media only screen and (max-width: 858px) {
}