/* the hero section  and job input form*/
.job-post {
  width: 1000px;
  margin: auto;
  border: 1px solid #808080;
  margin-top: 2rem;
  background-color: #fff;
  margin-bottom: 3rem;
  border-radius: 4px;
}
.head-post {
  text-align: center;
  margin: 19px;
  font-weight: 500;
}
fieldset {
  border: 2px solid #808080;
  box-sizing: border-box;
  padding: 20px;
  width: 95%;
  margin: auto;
  border-radius: 4px;
}
legend {
  font-size: 17px;
  margin: auto;
  padding: 5px;
}
/* .company-section {
  margin: 4rem auto;
} */
.job-post label {
  font-size: 14px;
  color: rgb(73, 73, 73);
}
.warning {
  color: #e00;
}
.position-tittle input,
.company-name-label input,
.cac input,
.website input,
.email input,
.phone input {
  width: 100%;
  height: 29px;
  border-radius: 3px;
  border: 1px solid #9b9b9b;
  outline: none;
  font-size: 17px;
  margin-bottom: 1rem;
}

.city,
.employment-type {
  width: 50%;
  margin-bottom: 1rem;
}
.city input {
  width: 95%;
  height: 29px;
  background-color: #fff;
  border: 1px solid #9b9b9b;
  border-radius: 3px;
  color: #9b9b9b;
  outline: none;
}
.employment-type select {
  width: 95%;
  height: 29px;
  background-color: #fff;
  border: 1px solid #9b9b9b;
  border-radius: 3px;
  color: #9b9b9b;
}
.country select {
  width: 100%;
  height: 29px;
  background-color: #fff;
  border: 1px solid #9b9b9b;
  border-radius: 3px;
  color: #9b9b9b;
  margin-bottom: 1rem;
}
.min-exp,
.max-exp {
  width: 50%;
}
.min-exp select,
.max-exp select {
  width: 95%;
  height: 29px;
  background-color: #fff;
  border: 1px solid #9b9b9b;
  border-radius: 3px;
  color: #9b9b9b;
  margin-bottom: 1rem;
}
.salary-currency,
.term,
.min-salary,
.max-salary {
  width: 25%;
}
.salary-currency select,
.term select {
  width: 95%;
  height: 29px;
  background-color: #fff;
  border: 1px solid #9b9b9b;
  border-radius: 3px;
  color: #9b9b9b;
  margin-bottom: 1rem;
}
.min-salary input,
.max-salary input {
  width: 95%;
  height: 29px;
  background-color: #fff;
  border: 1px solid #9b9b9b;
  border-radius: 3px;
  color: #9b9b9b;
  outline: none;
}
.deadline input {
  width: 100%;
  height: 29px;
  border-radius: 3px;
  border: 1px solid #9b9b9b;
  outline: none;
  font-size: 17px;
  margin-bottom: 1rem;
  color: #9b9b9b;
}

.city-town,
.experience,
.salary {
  display: flex;
  justify-content: space-between;
}
.submit-btn {
  background-color: #008080;
  border: 1px solid #008080;
  color: #fff;
  padding: 7px 20px;
  font-size: 17px;
  border-radius: 3px;
  margin-bottom: 3rem;
  margin-top: 1rem;
  margin-left: 88%;
  cursor: pointer;
  transition: .3s;
}
.submit-btn:hover {
  background-color: #fff;
  color: #008080;
}
.job-describtion {
  line-height: 20px;
}