.sticky-side-nav {
    position: fixed;
    z-index: 1000;
}

.side-nav {
    height: 100vh;
    width: 226px;
    background-color: #008080;
    line-height: 37px;
    position: absolute;
    transition: all .1s ease-out;
}

.site-logo {
    display: flex;
    justify-content: space-between;
}

.logoimg {
    width: 60px;
    margin-left: 23px;
    margin-top: 1rem;
    border-radius: 28px 0px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.links {
    list-style: none;
    text-align: center;
}
.active {
    color: #008080;
    background-color: #fff;
    text-decoration: none;
    font-size: 16px;
    transition: all .4s;
    border: 1px solid #fff;
    border-right: 1px solid #008080;
    padding: 4px 9px;
}

.link {
    text-decoration: none;
    font-size: 16px;
    transition: all .4s;
    background-color: #3b8080;
    border: 1px solid #fff;
    border-right: 1px solid #008080;
    color: #fff;
    padding: 4px 9px;
}

.nav-links a:hover {
    margin-left: 18px;
    /* background-color: #deb887; */
    background-color: #fff;
    color: #008080;
}

.nav-links {
    margin-top: 2rem;
    display: grid;
}

.nav-links i {
    margin-right: 10px;
}

.close-nav {
    display: none;
    margin-right: 10px;
    color: #fffbfb;
    cursor: pointer;
}

/* styling the burger icon  */
.burger {
    display: none;
    width: max-content;
    padding: 9px 5px;
    border-radius: 17px;
    box-shadow: rgba(255, 255, 255, 0.25) 0px 30px 60px -12px inset, rgba(121, 121, 121, 0.3) 0px 18px 36px -18px inset;
    cursor: pointer;
}

.l1 {
    width: 14px;
    height: 3px;
    background-color: #008080;
    margin-bottom: 3px;
    margin-left: 5px;
}
.l2 {
    width: 24px;
    height: 3px;
    background-color: #008080;
    margin-bottom: 3px;
}
.l3 {
    width: 14px;
    height: 3px;
    background-color: #008080;
    margin-left: 5px;
}

/* styling the topnav */
.top-nav {
    background-color: #fff;
    height: 50px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 1px 1px;
    position: sticky;
    top: 0px;
    z-index: 1;
}
.right-link-container {
    display: flex;
    align-items: center;
}
.right-link-links a {
    text-decoration: none;
    color: #008080;
    font-size: 14px;
}
.right-link-links a:hover {
    color: #004949;
}
.mobile-menu {
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.dropdown {
    position: relative;
    display: inline-block;
    margin-left: 2rem;
}
.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #fff;
    min-width: 121px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 1px 1px;
    z-index: 1000;
    border-radius: 3px;
}
.dropdown-content a {
    font-size: 13px;
    width: max-content;
    color: #008080;
    padding: 10px 7px;
    text-decoration: none;
    display: block;
}
.dropdown-content a i {
    margin-right: 4px;
}
.dropdown-content a:hover {
    color: rgb(88, 88, 88);
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropbtn {
    color: #008080;
    background: none;
    border: none;
    display: flex;
    align-items: center;
}
.dropbtn i {
    font-size: 25px;
    margin-right: 3px;
    color: #6c6c6c;
}

@media only screen and (max-width: 1110px) {
    .side-nav {
        transform: translateX(-100%);
    }
    .side-nav-active {
        transform: translateX(0%);
    }
    .main-body {
        margin-left: 0;
    }
    .burger {
        display: inline-block;
    }
    .close-nav{
        display: block;
    }
    .close-nav i {
        font-size: 23px;    }
}