@import "/legitjobs/css/basic.css";

body {
    background-color: #008080;
}

.flex-container {
    display: flex;
    justify-content: center;
}
  
.flex-container > div {
    min-width: 592px;
    background-color: #f1f1f1;
    width: max-content;
    margin-top: 10vh;
    width: 44%;
    border-radius: 4px;
}

.heading {
    font-size: 26px;
    border-bottom: 2px solid #008080;
    padding: 10px 9px;
    color: #008080;
}

form {
    width: 100%;
    text-align: center;
    line-height: 59px;
    margin-top: 25px;
}

input {
    width: 42%;
    margin: 15px;
    width: 42%;
    margin: 15px;
    border: 1px solid #008080;
    height: 34px;
    border-radius: 4px;
    color: #4d4d4d;
    padding-left: 12px;
}

input:focus {
    outline: none;
    background-color: #008080;
    color: #fff;
    font-size: 14px;
}


form button {
    font-size: 20px;
    padding: 7px 47px;
    background-color: #008080;
    border: 1px solid #008080;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

form button:hover {
    /* transform: rotateY(150deg); */
    background-color: #fff;
    color: #008080;
}

.reg-error{
    line-height: 0px;
    text-align: start;
    font-size: 12px;
    color: red;
    margin-left: 10%;
    width: max-content;
}

.server-error {
    line-height: 0px;
    font-size: 13px;
    color: red;
    margin: auto;
    width: max-content;
}


.pass-not {
    font-size: 12px;
    color: red;
    line-height: 0;
    margin-left: 4%;
    width: max-content;
}

.error {
    color: red;
    padding: 14px 12px;
    border: 1px solid red;
    background: #fff;
    border-radius: 6px;
    margin-top: 1rem;
    line-height: 0;
    width: max-content;
    margin: auto;
    margin-bottom: auto;
    margin-bottom: 2rem;
    font-size: 13px;
}

.last-name {
    font-size: 12px;
    color: red;
    line-height: 0;
    margin-left: 48.3%;
}

.already {
    color: #008080;
    font-size: 15px;
}
.already a {
    text-decoration: none;
}

.password {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.password label {
    width: 292px;
}
.first-entry {
    width: 85.5%;
    margin-left: 30px;
}
.first-entry2 {
    margin-left: 12px;
    margin-right: 33px;
    width: 85.5%;
}

/* .passerror {
    display: none;
} */

/* @media screen and (max-width: 908px) {
    .passerror {
        display: block;
    }
  } */