@import "/legitjobs/css/basic.css";
@import "/legitjobs/css/sign-up.css";

.flex-container > div {
    margin-top: 15vh;
    min-width: 454px;
}

.success {
    color: green;
    width: max-content;
    margin: auto;
    margin-bottom: auto;
    margin-bottom: 2rem;
    line-height: 0;
}

.error_login {
    color: red;
    line-height: 0;
    width: max-content;
    margin: -26px auto 2rem auto;
    visibility: hidden;
    transition: 1s;
}

.password {
    display: block;
}

.password i {
    margin-left: -39px;
    cursor: pointer;
}

.password input {
    margin-left: -4px;
}