@import "/legitjobs/css/basic.css";

body {
    background-color: #fff;
}

.legend-data {
    margin: auto;
    padding: 5px;
    color: #008080;
    font-weight: 550;
}
.fieldset-data {
    border: 1.5px solid #008080;
    border-radius: 4px;
    padding: 5px;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    background-color: #fff;
}
.legend-work, .legend-qual {
    margin: auto;
    padding: 5px;
    color: #008080;
    font-weight: 550;
}
.fieldset-work, .fieldset-qual {
    border: 1.5px solid #008080;
    border-radius: 4px;
    padding: 5px;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    background-color: #fff;
}

.name, .address {
    display: flex;
    align-items: center;
}

.tittle, .first-name, .last-name, .email, .phone, .group1, .group2, .group3, .group4, .add {
    margin: 13px;
}
.first-name, .last-name {
    width: 43%;
}

.group-set1, .group-set2 {
    width: 33%;
}

.required, .not-required {
    color: #000;
    font-size: 13px;
}
.required:after {
    content:" *";
    color: red;
}
.email-address, .phone-number {
    color: #8e8e8e;
    margin-top: 5px;
    font-size: 13px;
}
.form-section {
    background: #fbfdf6;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 1px 3px;
    width: 64%;
    margin: 2rem;
    padding: 12px;
    border-radius: 3px;
}
#tittle {
    width: 83px;
    background: none;
    border: 1px solid #008080;
    border-radius: 3px;
    height: 26px;
    color: #000;
}

.name input {
    border: 1px solid #008080;
    height: 27px;
    border-radius: 3px;
    color: #000;
    width: 100%;
    padding: 4px;
    outline: none;
    transition: .3s;
}
.name input:focus {
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.head-text {
    text-align: center;
    color: #008080;
    font-size: 20px;
    font-weight: 500;
}
.more-i {
    color: #353535;
    text-align: center;
    font-size: 13px;
    margin-top: -12px;
    margin-bottom: 19px;
}
.update-button {
    background-color: #008080;
    border: 1px solid #008080;
    padding: 7px 9px;
    border-radius: 3px;
    color: #fff;
    margin-left: 11px;
    margin-top: 1rem;
    cursor: pointer;
    transition: .3s;
}
.update-button:hover {
    background-color: #fff;
    color: #008080;
}
.group1 select, #qual {
    width: 100%;
    color: #008080;
    background: none;
    border: 1px solid #008080;
    height: 27px;
    border-radius: 3px;
    font-size: 14px;
}
.group3 select {
    width: 100%;
    color: #008080;
    background: none;
    border: 1px solid #008080;
    height: 27px;
    border-radius: 3px;
    font-size: 14px;
}
.group4 select {
    width: 100%;
    color: #008080;
    background: none;
    border: 1px solid #008080;
    height: 27px;
    border-radius: 3px;
    font-size: 14px;
}
.group-set3 {
    width: 33%;
}
.add input {
    border: 1px solid #008080;
    height: 27px;
    border-radius: 3px;
    color: #000;
    width: 50%;
    padding: 4px;
    outline: none;
    transition: .3s;
}
.add input:focus {
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.duration {
    display: flex;
    align-items: center;
}
.from, .to {
    margin: 15px;
    width: 40%;
    max-width: 236px;
}
.still-working {
    width: 20%;
    margin: 15px;
}
#dateTo, #dateTo2, #dateFrom, #dateFrom2, #studyField {
    width: 100%;
    border: 1.5px solid #008080;
    border-radius: 3px;
    height: 31px;
    padding-left: 5px;
    outline: none;
    transition: .3s;
}
#dateTo:focus, #dateTo2:focus, #dateFrom:focus, #dateFrom2:focus, #studyField:focus {
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
#org, #org2, #position, #position2 {
    border: 1.5px solid #008080;
    border-radius: 3px;
    height: 31px;
    width: 50%;
    outline: none;
    transition: .3s;
}
#org:focus, #org2:focus, #position:focus, #position2:focus {
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.organisation, .position {
    margin: 15px;
}
#addMore, #remove {
    border: none;
    background: no-repeat;
    margin: 15px;
    font-size: 14px;
    cursor: pointer;
}
#addMore:hover, #remove:hover {
    color: #008080;
}
.default2 {
    display: none;
    border-top: 1px solid #000;
}
.qualification-section {
    display: flex;
    align-items: center;
}
.highest-qualification, .qual-field {
    margin: 15px;
    width: 50%;
}